
#default_range_status {
    display: block;
    height: 70px;
    width: 230px;
    position: relative;
    padding: 10px;
    border: 2px solid #222222;
    font-family: "Times New Roman", Times, serif !important;
    box-sizing: content-box !important;
}

.range-status-ok {
    background: #4fff8c;
}

.range-status-busy {
    background: #ff1607;
}

#default_range_status > .summary-separator {
    display: block;
    height: 70px;
    width: 2px;
    position: absolute;
    background: #333;
    top: 10px;
    left: 90px;
}

#default_range_status > .summary-open-lanes-title {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    position: absolute;
    top: 55px;
    left: 20px;
}

#default_range_status > .summary-open-lanes {
    font-size: 60px;
    font-weight: 600;
    color: #333;
    position: absolute;
    top: -5px;
    left: 20px;
}

#default_range_status > .summary-waitinglist-title {
    font-size: 16px;
    font-weight: 800;
    color: #333;
    position: absolute;
    top: 12px;
    left: 108px;
}

#default_range_status > .summary-waitinglist-customers {
    font-size: 16px;
    font-weight: 800;
    color: #333;
    position: absolute;
    top: 36px;
    left: 102px;
}

#default_range_status > .summary-waitinglist-lanes {
    font-size: 16px;
    font-weight: 800;
    color: #333;
    position: absolute;
    top: 56px;
    left: 102px;
}

.reservation-link {
    width: 230px;
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;

        max-height: 500px;
        overflow-y: scroll!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

}
